@charset "UTF-8";
/* リセットCSS */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-size: 100%;
  font-family: "BIZ UDPGothic", "Yu Gothic", メイリオ, Meiryo, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #FFF9EB;
  background-color: #304374;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  html,
  body {
    font-size: 85%;
  }
}

.en__txt {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .wrapper {
    max-width: 336px;
  }
}

.sec__title {
  display: inline-block;
  font-family: "BIZ UDMincho", Times, serif;
  font-size: 2rem;
  border-bottom: solid 1px #FFF9EB;
  padding-bottom: 8px;
  margin-top: 100px;
  margin-bottom: 40px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .sec__title {
    padding-top: 40px;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    border-bottom: none;
    text-decoration: underline;
    text-underline-offset: 15px;
  }
}

.season-triangle {
  position: absolute;
  top: 30px;
  right: 75px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 10px solid #FFF9EB;
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .season-triangle {
    right: 25px;
  }
}

.Morning-triangle {
  position: absolute;
  top: 30px;
  right: 70px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 10px solid #FFF9EB;
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .Morning-triangle {
    right: 20px;
  }
}
.Cafe-triangle {
  position: absolute;
  top: 30px;
  right: 85px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 10px solid #FFF9EB;
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .Cafe-triangle {
    right: 35px;
  }
}
.Takeout-triangle {
  position: absolute;
  top: 30px;
  right: 65px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 10px solid #FFF9EB;
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .Takeout-triangle {
    right: 16px;
  }
}
.header {
  background-color: #304374;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.header__container {
  display: flex;
  max-width: 83%;
  margin: 0 auto;
  padding-top: 42px;
  padding-bottom: 22px;
  color: #E6C570;
  justify-content: space-between;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__container {
    max-width: 90%;
    padding-top: 22px;
  }
}
.header__logo-time span {
  display: inline-block;
  margin-left: 42px;
  line-height: 1.5;
  font-size: 1.5rem;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__logo-time span {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__logo-time img {
    max-width: 70%;
  }
}
.header__btn {
  height: 64px;
  display: flex;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__btn {
    height: 43px;
  }
}
.header__btn a {
  display: inline-block;
  margin-right: 10px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__btn a {
    width: 43px;
  }
}

.hamburger {
  width: 64px;
  height: 64px;
  background-color: #1E2B4C;
  border-radius: 50%;
  position: relative;
  z-index: 20;
  cursor: pointer;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .hamburger {
    width: 43px;
    height: 43px;
  }
}
.hamburger span {
  width: 35px;
  height: 2px;
  display: inline-block;
  background-color: #E6C570;
  position: absolute;
  left: 15px;
  border-radius: 1px;
  transition: all 0.4s;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .hamburger span {
    width: 25px;
    height: 1px;
    color: #F1D99E;
    position: absolute;
    left: 9px;
  }
}
.hamburger span:nth-of-type(1) {
  top: 24px;
}
.hamburger span:nth-of-type(2) {
  bottom: 24px;
}
.hamburger.active span:nth-of-type(1) {
  top: 32px;
  transform: rotate(-45deg);
}
.hamburger.active span:nth-of-type(2) {
  top: 32px;
  transform: rotate(45deg);
}
.hamburger.active .header__hamburger-content--logo {
  max-width: 90%;
  padding-top: 22px;
}
.hamburger.active .header__hamburger-content--logo img {
  max-width: 30%;
}
.hamburger.active .header__hamburger-content--logo span {
  font-size: 0.8rem;
}

.header__hamburger-content {
  width: 49%;
  height: 100vh;
  background-color: #1E2B4C;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  /* アニメーション部分 */
  pointer-events: none;
  opacity: 0;
  transition: none;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__hamburger-content {
    width: 100%;
  }
}
.header__hamburger-content--logo {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__hamburger-content--logo {
    max-width: 90%;
  }
}
.header__hamburger-content--logo span {
  display: inline-block;
  vertical-align: 16px;
  margin-left: 42px;
  line-height: 1.5;
  font-size: 0.8rem;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__hamburger-content--logo span {
    vertical-align: 5px;
    margin-left: 8%;
    font-size: 1.2rem;
  }
}
.header__hamburger-content--menu {
  width: 27%;
  position: absolute;
  top: 50%;
  /*親のtopから50%*/
  left: 50%;
  /*親のleftから50%*/
  transform: translateY(-45%) translateX(-50%);
  /*子要素自体の大きさを考慮*/
  margin: auto;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__hamburger-content--menu {
    top: 45%;
  }
}
.header__hamburger-content--menu a {
  color: #E6C570;
  font-size: 1.5rem;
  font-family: "BIZ UDMincho", Times, serif;
}
.header__hamburger-content--menu li {
  margin-bottom: 32px;
  padding: 10px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__hamburger-content--menu li {
    margin-bottom: 20px;
  }
}
.header__hamburger-content.active {
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s linear;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__hamburger-content.active .header__hamburger-content--logo img {
    max-width: 30%;
  }
  .header__hamburger-content.active .header__hamburger-content--logo span {
    font-size: 0.8rem;
  }
}
.header__hamburger-content--contact {
  line-height: 2;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.header__hamburger-content--contact a {
  color: #E6C570;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__hamburger-content--contact-tel a {
    width: auto;
    margin: auto;
  }
}
.header__hamburger-content--contact-tel a::before {
  content: url(../img/top/tel.png);
  padding-right: 8px;
  vertical-align: sub;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header__hamburger-content--contact-mail a {
    width: auto;
    margin: auto;
  }
}
.header__hamburger-content--contact-mail a::before {
  content: url(../img/top/contact.png);
  padding-right: 8px;
  vertical-align: sub;
}
.header__hamburger-content a:hover {
  opacity: 0.7;
}

.footer {
  color: #E6C570;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .footer {
    max-width: 90%;
  }
}
.footer__navi {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .footer__navi {
    margin: 40px auto 48px;
    justify-content: space-between;
  }
}
.footer__navi li {
  margin-right: 40px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .footer__navi li {
    margin: 0;
  }
}
.footer__navi a {
  padding-bottom: 8px;
  color: #E6C570;
  position: relative;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .footer__navi a {
    padding-bottom: 0;
    font-size: 0.7rem;
  }
}
.footer__navi a::after {
  position: absolute;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #E6C570;
  bottom: -1px;
  transform: scale(0, 1);
  transform-origin: center top;
  /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の右端*/
  transition: transform 0.3s;
  /*変形の時間*/
}
.footer__navi a:hover::after {
  transform: scale(1, 1);
  /*ホバー後、x軸方向に1（相対値）伸長*/
}
.footer__logo {
  text-align: center;
}
.footer__logo img {
  display: inline-block;
  width: 20%;
  margin-bottom: 100px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .footer__logo img {
    width: 32%;
    margin-bottom: 48px;
  }
}
.footer small {
  display: block;
  text-align: end;
  margin-bottom: 30px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .footer small {
    text-align: center;
    margin-bottom: 15px;
    font-size: 0.7rem;
  }
}

/* ヒーローエリア--------------------- */
.hero {
  color: #E6C570;
  display: flex;
  justify-content: end;
}
.hero__img {
  width: 60%;
  margin: 15% 0 15% 4.4%;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero__img {
    width: 42%;
    margin: 40% 0 40% 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero__img img {
    width: 200px;
    height: 323px;
    object-fit: cover;
  }
}
.hero__txt {
  width: 40%;
  margin-left: 15%;
  margin-top: 21%;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero__txt {
    width: 55%;
    margin-top: 70%;
    position: absolute;
    top: 0;
    right: 35%;
  }
}
.hero__txt-ja {
  font-family: "BIZ UDMincho", serif;
  font-size: 2.5rem;
  letter-spacing: 0.01em;
  line-height: 1.5;
  filter: drop-shadow(0 0 25px rgb(162, 135, 66));
  margin-bottom: 25px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero__txt-ja {
    font-size: 1.5rem;
  }
}
.hero__txt-en {
  letter-spacing: 0.1em;
  line-height: 1.5;
  opacity: 0.5;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero__txt-en {
    font-size: 0.7rem;
  }
}
.hero__txt-en span {
  font-size: 1.5rem;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .hero__txt-en span {
    font-size: 0.9rem;
  }
}

/* コンセプト------------------------ */
.concept {
  position: relative;
}
.concept__bg {
  position: absolute;
  top: 100px;
  left: 0;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .concept__bg {
    top: 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .concept__bg img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
.concept__wrapper {
  position: relative;
  z-index: 1;
}
.concept__title {
  padding-top: 100px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .concept__title {
    padding-top: 40px;
  }
}
.concept__container {
  display: flex;
  margin-bottom: 100px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .concept__container {
    flex-direction: column;
  }
}
.concept__container--txt {
  width: 390px;
  margin-top: 80px;
  margin-left: 9%;
  line-height: 1.8;
  letter-spacing: 0.1em;
  filter: drop-shadow(0 0 25px rgb(30, 43, 76));
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .concept__container--txt {
    width: 100%;
    margin: 40px auto;
    line-height: 1.5;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .concept__container--img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

/* メニュー--------------------------- */
.menu {
  background-color: #FFF9EB;
  color: #1E2B4C;
}
.menu__title {
  border-bottom: solid 1px #1E2B4C;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .menu__title {
    border-bottom: none;
  }
}
.menu__tabs {
  background-color: #FFF9EB;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .menu__tabs {
    display: none;
  }
}
.menu__tabs-item {
  width: 25%;
  height: 67px;
  background-color: #1E2B4C;
  line-height: 67px;
  font-size: 16px;
  text-align: center;
  color: #FFF9EB;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
  position: relative;
  cursor: pointer;
}
.menu__tabs-item:hover {
  opacity: 0.75;
}
.menu__tabs input[name=menu__tabs-item] {
  display: none;
}
.menu__tabs input:checked + .menu__tabs-item {
  background-color: #304374;
  color: #FFF9EB;
}
.menu__content {
  display: none;
  padding-top: 40px;
  clear: both;
  overflow: hidden;
}
.menu__content--flexbox {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .menu__content--flexitem {
    width: 45%;
  }
}
.menu__content--flexitem img {
  width: 480px;
  height: 270px;
  object-fit: cover;
}
.menu__content--flexitem div {
  margin: 40px auto 100px;
  text-align: center;
  line-height: 1.5;
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .menu__content--flexitem div p {
    font-size: 0.8rem;
  }
}
.menu__content--flexitem .menu__txt-title {
  font-size: 1.25rem;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .menu__content--flexitem .menu__txt-title {
    font-size: 1rem;
  }
}
.menu__content--flexitem .menu__txt-title span {
  float: right;
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .menu__content--flexitem .menu__txt-title span {
    font-size: 0.6rem;
  }
}

#season:checked ~ #season_content,
#Morning:checked ~ #Morning_content,
#Cafe:checked ~ #Cafe_content,
#Takeout:checked ~ #Takeout_content {
  display: block;
}

@media (max-width: 1500px) {
  .sp-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .sp-menu {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .sp-menu {
    display: grid;
    place-content: center;
  }
}
.sp-menu__selectToggle—wrapper {
  margin-bottom: 40px;
  height: 48px;
}
.sp-menu__selectToggle {
  width: 100%;
  height: 48px;
  line-height: 48px;
  letter-spacing: 0.5rem;
  font-weight: 100;
  text-align: center;
  background-color: #1E2B4C;
  color: #FFF9EB;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}
.sp-menu__selectCont {
  display: none;
}
.sp-menu__selectCont.is_active {
  display: revert;
}

/* インフォメーション--------------------------- */
.info {
  position: relative;
}
.info__bg {
  width: 85%;
  height: 100%;
  background-color: #1E2B4C;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .info__bg {
    display: none;
  }
}
.info__wrapper {
  z-index: 1;
  position: relative;
}
.info__title {
  margin-top: 0;
}
.info__content {
  width: 58.6%;
  margin-left: 41.3%;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .info__content {
    width: 100%;
    margin-left: 0;
  }
}
.info__content--img {
  margin-bottom: 20px;
}
.info__content--txt {
  width: 100%;
  text-align: center;
  border-bottom: solid 1px #FFF9EB;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .info__content--txt {
    padding-bottom: 10px;
  }
}
.info__content--txt span {
  float: left;
}
.info__content--btn {
  text-align: right;
}
.info__content--btn a {
  margin-top: 40px;
  margin-bottom: 100px;
  display: inline-block;
  padding: 20px 114px;
  background-color: #FFF9EB;
  color: #1E2B4C;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .info__content--btn a {
    padding: 20px 50px;
    margin-bottom: 0;
  }
}
.info__content--btn a::after {
  content: url(../img/top/info-triangle.png);
  margin-left: 10px;
  display: inline-block;
  transform: translateY(1px);
}
.info__content--btn a:hover {
  opacity: 0.7;
}

/* アクセス----------------------------------- */
.access {
  width: 100%;
  background: url(../img/top/access-bg.png) no-repeat top center/cover;
  color: #1E2B4C;
}
.access__title {
  border-bottom: solid 1px #1E2B4C;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .access__title {
    border-bottom: none;
  }
}
.access__container {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .access__container {
    flex-direction: column;
  }
}
.access__container--content {
  width: 40%;
  position: relative;
  padding-bottom: 35%;
  margin-bottom: 100px;
  height: 0;
  overflow: hidden;
}
.access__container--map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .access__container--map {
    width: 100%;
    padding-bottom: 60%;
    margin-bottom: 20px;
  }
}
.access__container--txt {
  line-height: 1.5;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .access__container--txt {
    width: 100%;
    padding-bottom: 75%;
    margin-bottom: 100px;
  }
}
.access__container--sub-title {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

.information {
  padding-top: 130px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .information {
    padding: 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .information__title {
    margin-top: 90px;
  }
}
.information__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .information__container {
    flex-direction: column;
  }
}
.information__items {
  width: 44%;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .information__items {
    width: 100%;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .information__items:nth-child(4), .information__items:nth-child(5) {
    display: none;
  }
}
.information__items--img-bg {
  margin-bottom: 20px;
  background-color: #1E2B4C;
}
.information__items--img-bg img {
  display: block;
  margin: auto;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .information__items--img-bg img {
    max-width: 85%;
    padding: 13px 0 13px 0;
  }
}
.information__items--subtitle {
  font-size: 1.25rem;
  margin-top: 20px;
  margin-bottom: 40px;
}
.information__items:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.information__items:last-child button {
  height: 40px;
  width: 80px;
  background-color: #1E2B4C;
  color: #FFF9EB;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .information__items:last-child button {
    font-size: 0.7rem;
  }
}
.information__items:last-child p {
  margin: 95px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .information__items:last-child p {
    margin: 20px auto;
    font-size: 0.7rem;
  }
}

.garally {
  background-color: #FFF9EB;
}
.garally__title {
  color: #1E2B4C;
  border-bottom: solid 1px #1E2B4C;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .garally__title {
    border-bottom: none;
  }
}
.garally__container {
  padding-bottom: 100px;
  display: grid;
  grid-template-rows: 16vw 16vw 32vw;
  grid-template-columns: 25% 25% 25% 25%;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .garally__container {
    padding-bottom: 80px;
    grid-template-rows: 40vw 20vw 20vw 40vw 40vw;
    grid-template-columns: 50% 50%;
  }
}
.garally__container li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.garally__container--item01 {
  grid-row: 1/3;
  grid-column: 1/3;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .garally__container--item01 {
    grid-row: 1/2;
    grid-column: 1/3;
  }
}
.garally__container--item02 {
  grid-row: 1/3;
  grid-column: 3/4;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .garally__container--item02 {
    grid-row: 2/4;
    grid-column: 1/2;
  }
}
.garally__container--item03 {
  grid-row: 1/2;
  grid-column: 4/5;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .garally__container--item03 {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
.garally__container--item04 {
  grid-row: 2/3;
  grid-column: 4/5;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .garally__container--item04 {
    grid-row: 3/4;
    grid-column: 2/3;
  }
}
.garally__container--item05 {
  grid-row: 3/4;
  grid-column: 1/3;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .garally__container--item05 {
    grid-row: 4/5;
    grid-column: 1/3;
  }
}
.garally__container--item06 {
  grid-row: 3/4;
  grid-column: 3/4;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .garally__container--item06 {
    grid-row: 5/6;
    grid-column: 1/2;
  }
}
.garally__container--item07 {
  grid-row: 3/4;
  grid-column: 4/5;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .garally__container--item07 {
    grid-row: 5/6;
    grid-column: 2/3;
  }
}

main {
  background-color: #FFF9EB;
  color: #1E2B4C;
  padding-bottom: 100px;
}

@media (max-width: 1500px) {
  .main__baner {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1500px) {
  .main__baner {
    display: none;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .main__baner {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 25%;
  }
}

.detail__wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .detail__wrapper {
    flex-direction: column;
  }
}

.article {
  width: 65%;
  margin-top: 130px;
  padding-right: 60px;
  position: relative;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .article {
    width: 100%;
    margin: 0;
    padding: 0 0 60px 0;
  }
}
.article::after {
  content: "";
  position: absolute;
  top: 100px;
  right: 0;
  width: 1px;
  height: calc(100% - 100px);
  /* 高さを調整して下まで伸ばす */
  background-color: #E5C470;
  /* 線の色 */
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .article::after {
    display: none;
  }
}
.article__title {
  border-bottom: none;
  display: block;
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .article__title {
    margin-top: 90px;
    text-decoration: none;
    font-weight: 100;
  }
}
.article__date {
  margin-bottom: 40px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .article__date {
    margin-bottom: 20px;
  }
}
.article img {
  width: 100%;
}
.article__txt {
  margin: 68px auto 100px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .article__txt {
    margin-top: 36px;
    margin-bottom: 40px;
  }
}
.article__txt li + li {
  padding-top: 24px;
}
.article__page {
  text-align: center;
  font-size: 0.8125rem;
}
.article__page a {
  padding-bottom: 4px;
  border-bottom: 1px solid #1E2B4C;
}

.aside {
  width: 35%;
  padding-left: 60px;
  margin-top: 130px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .aside {
    width: 100%;
    padding: 40px 0 0 0;
    margin-top: 0;
    border-top: 1px solid #E5C470;
  }
}
.aside__title {
  display: block;
  text-align: center;
  font-size: 1.25rem;
  font-weight: lighter;
  border-bottom: 1px solid #1E2B4C;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .aside__title {
    margin-top: 0;
    padding-top: 0;
    border-bottom: none;
    text-align: start;
    text-underline-offset: 8px;
  }
}
.aside__sub-article {
  margin-bottom: 100px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .aside__sub-article {
    margin-bottom: 80px;
  }
}
.aside__sub-article li {
  line-height: 225%;
  padding-bottom: 20px;
  border-bottom: 1px solid #E5C470;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .aside__sub-article li {
    text-align: center;
  }
}
.aside__sub-article li + li {
  padding-top: 20px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .aside__sub-article li span {
    float: left;
  }
}
.aside__baner {
  margin-bottom: 100px;
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .aside__baner {
    margin-bottom: 80px;
  }
}
.aside__baner img {
  width: 100%;
  box-shadow: 6px 6px 30px 0px rgba(230, 197, 112, 0.8);
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .aside__store-info {
    text-align: center;
  }
}
.aside__store-info--title {
  text-align: center;
  font-size: 1.25rem;
}/*# sourceMappingURL=style.css.map */