@use '../base/variables' as var;
@use '../base/mixin' as mix;
// TOPページ専用のスタイル
@use '../base/mixin' as mix;
@use '../base/variables' as var;

/* ヒーローエリア--------------------- */
.hero {
    color: var.$yellow;
    display: flex;
    justify-content: end;

    &__txt {
        width: 40%;
        margin-left: 15%;
        margin-top: 21%;
        position: relative;
        z-index: 1;

        &-ja {
            font-family: "BIZ UDMincho", serif;
            font-size: 2.5rem;
            letter-spacing: 0.01em;
            line-height: 1.5;
            @include mix.MV-textShadow(1); 
            margin-bottom: 25px;
        }

        &-en {
            letter-spacing: 0.1em;
            line-height: 1.5;
            opacity: .5;

            span {
                font-size: 1.5rem;
            }
        }
    }

    &__img {
        width: 60%;
        margin: 15% 0 15% 4.4%;
    }
}

/* コンセプト------------------------ */
.concept {
    position: relative;

    &__bg {
        position: absolute;
        top: (var.$mgLarge / 2);
        left: 0;
    }

    &__wrapper {
        position: relative;
        z-index: 1;
    }

    &__title {
        padding-top: (var.$mgLarge / 2);
    }

    &__container {
        display: flex;
        margin-bottom: (var.$mgLarge / 2);

        &--txt {
            width: 390px;
            margin-top: (var.$mgMedium * 2);
            margin-left: 9%;
            line-height: 1.8;
            letter-spacing: 0.1em;
            @include mix.C-textShadow(1)
        }
    }
}

/* メニュー--------------------------- */
.menu {
    background-color: var.$pastelYellow;
    color: var.$mainBlue;

    &__title {
        border-bottom: solid 1px var.$mainBlue;
    }

    &__tabs {
        background-color: var.$pastelYellow;
        width: 1024px;
        margin: 0 auto;

        &-item {
            width: calc(100%/4);
            height: 67px;
            background-color: var.$mainBlue;
            line-height: 67px;
            font-size: 16px;
            text-align: center;
            color: var.$pastelYellow;
            display: block;
            float: left;
            text-align: center;
            font-weight: bold;
            transition: all 0.2s ease;
            position: relative;
            cursor: pointer;

            &:hover {
                opacity: 0.75;
            }
        }

        input[name="menu__tabs-item"] {
            display: none;
        }

        input:checked {
            +.menu__tabs-item {
                background-color: var.$baseBlue;
                color: var.$pastelYellow;
            }
        }
    }

    &__content {
        display: none;
        padding-top: var.$mgMedium;
        clear: both;
        overflow: hidden;

        &--flexbox {
            margin-bottom: (var.$mgLarge / 2);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &--flexitem {
            img {
                width: 480px;
                height: 270px;
                object-fit: cover;
            }
            div {
                margin: var.$mgMedium auto;
                text-align: center;
                line-height: 1.5;
            }
            .menu__txt-title {
                font-size: 1.25rem;
                margin-bottom: 16px;
                span {
                    float: right;
                }
            }
        }
    }
}

#season:checked~#season_content,
#Morning:checked~#Morning_content,
#Cafe:checked~#Cafe_content,
#Takeout:checked~#Takeout_content {
    display: block;
}


/* インフォメーション--------------------------- */
.info {
    position: relative;
    &__bg {
        width: 85%;
        height: 100%;
        background-color: var.$mainBlue;
        position: absolute;
        top: 0;
        right: 0;
    }
    &__wrapper {
        z-index: 1;
        position: relative;
    }
    &__content {
        width: 58.6%;
        margin-left: 41.3%;
        &--img {
            margin-bottom: var.$mgSmall;
        }
        &--txt {
            width: 100%;
            text-align: center;
            border-bottom: solid 1px #FFF9EB;
            padding-top: var.$mgSmall;
            padding-bottom: var.$mgSmall;
            span {
                float: left;
            }
        }
        &--btn {
            width: 600px;
            text-align: right;
            a {
                margin-top: var.$mgMedium;
                margin-bottom: (var.$mgLarge / 2);
                display: inline-block;
                padding: var.$mgSmall 114px;
                background-color: var.$pastelYellow;
                color: var.$mainBlue;
                &::after {
                    content: url(../img/top/info-triangle.png);
                    margin-left: var.$mgExtraSmall;
                    display: inline-block;
                    transform: translateY(1px);
                }
                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}


/* アクセス----------------------------------- */

.access {
    width: 100%;
    background: url(../img/top/access-bg.png) no-repeat top center/cover;
    color: var.$mainBlue;
    &__title {
        border-bottom: solid 1px #1E2B4C;
    }
    &__container {
        display: flex;
        justify-content: space-evenly;
        &--content {
            width: 40%;
            position: relative;
            padding-bottom: 35%;
            margin-bottom: (var.$mgLarge / 2);
            height: 0;
            overflow: hidden;
        }
        &--map {
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        &--txt {
            line-height: 1.5;
        }
        &--sub-title {
            font-size: 1.25rem;
            letter-spacing: 0.1rem;
        }
    }
}
