@use '../base/mixin' as mix;
@use './variables' as var;
@use './mixin' as mix;

/* リセットCSS */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    font-size: 100%;
    @include mix.sp {
        font-size: 120%;
    }
    font-family: "BIZ UDPGothic", "Yu Gothic", メイリオ, Meiryo, Arial, sans-serif;
    /* サイト全体で使うフォント */
    line-height: 1.5;
    color: var.$pastelYellow;
    /* 基本の文字色 */
    background-color: var.$baseBlue;
    /* 基本の背景色 */
}

#header {
    background-color: #304374;
}

.en-txt {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}