@use '../base/mixin' as mix;
@use './variables' as var;


/* リセットCSS */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    font-size: 100%;
    @include mix.sp {
        font-size: 85%;
    }
    @include mix.bizGothic;
    line-height: 1.5;
    color: var.$pastelYellow;
    background-color: var.$baseBlue;
}

#header {
    background-color: var.$baseBlue;
}

.en__txt {
    @include mix.poppins;
}

.wrapper {
    @include mix.wrapperWidth;
}