// ブレイクポイントを指定
$pc: 1500px;
$tab: 768px;
$sp: 480px;


//配色の設定
$baseBlue: #304374;
$mainBlue: #1E2B4C;
$yellow: #F1D99E;
$pastelYellow: #FFF9EB;

// 余白の数値を指定
$mgLarge: 200px;
$mgMedium: 40px;
$mgSmall: 20px;
$mgExtraSmall: 10px;

$pdSmall: 40px;
$pdExtraSmall: 8px;