@use '../base/variables' as var;
@use '../base/mixin' as mix;
// 共通のセクションパーツ
// セクションタイトルのフォント
.sec__title {
    display: inline-block;
    font-family: "BIZ UDMincho", Times, serif;
    font-size: 2rem;
    border-bottom: solid 1px #FFF9EB;
    padding-bottom: 8px;
    margin-top: 100px;
    margin-bottom: 40px;

    @include mix.sp {
        padding-top: 40px;
        font-size: 1.5rem;
        display: block;
        text-align: center;
        border-bottom: none;
        text-decoration: underline;
        text-underline-offset: 15px;
    }
}
// メニューセクションの三角形インジケーター
.season-triangle {
    position: absolute;
    top: 30px;
    right: 75px;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 10px solid #FFF9EB;
    @include mix.tab {
        right: 25px;
    }
}

.Morning-triangle {
    position: absolute;
    top: 30px;
    right: 70px;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 10px solid #FFF9EB;
    @include mix.tab {
        right: 20px;
    }
    @include mix.sp {}
}

.Cafe-triangle {
    position: absolute;
    top: 30px;
    right: 85px;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 10px solid #FFF9EB;
    @include mix.tab {
        right: 35px;
    }
    @include mix.sp {}
}

.Takeout-triangle {
    position: absolute;
    top: 30px;
    right: 65px;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 10px solid #FFF9EB;
    @include mix.tab {
        right: 16px;
    }
    @include mix.sp {}
}